:root {
    --black: #000;
    --white: #fff;
    --green: #00b800;
    --red: #ae0f0f;
    --blue: #3a65d3;
}

body {
    background-color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}

main {
    padding: 1rem;
    border-radius: 1rem;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

fieldset {
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    border-radius: 1rem;
}

legend {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px;
    width: fit-content;
}

label {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

input {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

input[type="number"] {
    width: 95%;
    display: block;
    margin: 0.5rem auto;
}

select {
    width: 95%;
    display: block;
    margin: 0.5rem auto;
    height: 6rem;
    text-align: center;
}

option {
    font-size: 0.8rem;
    padding: 0.5rem;
}

#SendForm {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}

.red {
    border: 2px solid var(--red);
}

.green {
    border: 2px solid var(--green);
}

.default {
    border: 1px solid var(--black);
}

.campo_vacio {
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background: var(--red);
}

@media screen and (min-width:768px) {
    form {
        max-width: 50%;
        margin: 0 auto;
    }
}